* {
  /*font-family: 'Work Sans', sans-serif;*/
}

html {
  height: 100%;
}

body {
  background-color: #C19D8C;
  height: 100%;
}

.top-nav {
  width: 100%;
  height: 80px;
  list-style-type: none;
  background-color: #ffffff;
  display: block;
}

.top-nav > div {
  width: 100%;
  padding: 0 1em;
}

.logo {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.logout-btn {
  justify-content: right;
}

.column > .logo{
  width: 20%;
}

.column.one-half.left {
  float: left;
  margin: 10% 0 20% 0;

}

.column.one-half.right {
  float: right;
  margin: 10% 0 20% 0;
}

.hero-signup {
  border-radius: 25px;
  background-color: #ffffff;
  position: relative;
  text-align: center;
}


/*STYLING FOR USER PAGE*/

header,
.history,
.diary,
{
  margin: 0 1.5% 24px 1.5%;
}

.greeting {
  background-color: #75bbb8;
  text-align: center;
  font-size: 3em;
}

.history {
  background-color: #6e9dc9;
  float: left;
  width: 50%;
  height: 1000px;
  text-align: center;

}

.diary {
  background-color: #a5c688;
  float: right;
  width: 50%;
  height: 1000px;
  text-align: center;
  display: inline-block;
}

.diary-box {
  width: 33%;
}

.planner {
  height: 80%;
  width: 90%;
  margin: 0 auto;
}

.plans, .events-eats {
  border: 3px solid #666;
  border-radius: 5px;
  background: #e3e9ec;
}

.plans > header {
  height: 3em;
  background: #c0cfd6;
  border-bottom: 2px solid #666;
  line-height: 3em;
  text-align: center;
}

.planner .contents {
  height: calc(100% - 3em);
  overflow: auto;
}

.plan {
  border-bottom: 1px solid black;
  padding: .5em;
}

.events, .eats {
  background: lightblue;
  margin-bottom: 1em;
}

.items {
  display: none;
  background: #f0f0f0;
}

.search-area {
  text-align: center;
}

.search-wrapper {
  display: inline-block;
  position: relative;
}

.search {
  width: 30em;
}

.suggestions {
  background: white;
  position: absolute;
  width: 100%;
  top: 40px;
  text-align: left;
  list-style: none;
}

.suggestions li {
  padding: .5em 1em;
  border-bottom: 1px solid gray;
  margin: 0;
}

.suggestions {
  border-radius: 5px;
}

.suggestions li:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.suggestions li:last-of-type {
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestions li:hover {
  background: navy;
  color: white;
}
