* {
  font-family: 'Work Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #C19D8C;
  height: 100%;
}

/*STYLING FOR NAV*/

.top-nav {
  width: 100%;
  height: 80px;
  list-style-type: none;
  background-color: #ffffff;
  border-bottom: 3px solid #666;
  display: flex;
  flex-direction: row;
}

.nav-main-left {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.nav-main-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 80%;
}

/*LANDING PAGE*/

.landing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.column.one-half.left {
  float: left;
  margin: 10% 0 20% 0;

}

.column.one-half.right {
  float: right;
  margin: 10% 0 20% 0;
}

.hero-signup {
  border-radius: 25px;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  border: 3px solid #666;
  width: 80%;
}

.hero-text {
  position: relative;
  text-align: center;
  width: 80%;
}


/*USER ACCT. PAGE*/
.account-container{
  display: flex;
  flex-flow: row wrap;
}

.header, .history, .diary, {
  flex: 1 100%;
}

@media all and (min-width: 800px) {

  .history { order: 1; }
  .diary   { order: 2; }

}

.header {
  background-color: #75bbb8;
  text-align: center;
  font-size: 3em;
  width: 100%;
}

.history {
  background-color: #6e9dc9;
  width: 50%;
  height: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.history-card {
  width: 80%;
  background-color: #75bbb8;
}

.diary {
  background-color: #a5c688;
  width: 50%;
  height: 1000px;
  text-align: center;
}

.diary-entries {

}

.diary-entry {
  border: 3px solid #666;
  height: auto;

}

.plan-card {

}

.diary-left {
  float: left;
  width: 45%;
}

.diary-right {
  float: right;
  width: 45%;
}

/*JOURNEY PLANNER PAGE*/

.planner {
  height: 80%;
  width: 90%;
  margin: 0 auto;
}

.plans, .events-eats {
  border: 3px solid #666;
  border-radius: 5px;
  background: #e3e9ec;
}

.plans > header, .events-eats > header {
  height: 3em;
  background: #c0cfd6;
  border-bottom: 2px solid #666;
  line-height: 3em;
  text-align: center;
}

.contents {
  height: calc(100% - 3em);
  overflow: auto;
}

.contents > div {
  border-bottom: 1px solid black;
  padding: .5em;
}

.plan:hover {
  background: #a3a9ec;
}

.plan.selected {
  background: #858dec;
}

.details {
  margin-bottom: 1em;
}

.events, .eats {
  background: lightblue;
  margin-bottom: 1em;
}

.events header, .eats header {
  cursor: pointer;
}

.items {
  display: none;
  background: #f0f0f0;
}

.items > div {
  border-bottom: 1px solid black;
}

.items > div:last-of-type {
  border: 0;
}

.events-eats {
  max-height: 500px;
  overflow: auto;
}

.search-area {
  text-align: center;
}

.search-form {
  display: inline-block;
  position: relative;
}

.search-form button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.search, .suggestions {
  width: 30em;
}

.suggestions {
  font-size: 1.1rem;
}

.suggestions {
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  text-align: left;
  list-style: none;
  z-index: 5;
}

.suggestions li {
  padding: .5em 1em;
  border-bottom: 1px solid gray;
  margin: 0;
}

.suggestions li:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.suggestions li:last-of-type {
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestions li:hover {
  background: navy;
  color: white;
}

.map {
  width: 80%;
  height: 350px;
}

/*LOGGED IN USER*/

.start-guiding {
 text-align: center;
 background-color: #ffffff;
 font-size: 2em;
 width: 300px;
 height: 100px;
 position: absolute;
 left: 50%;
 top: 50%;
 margin-left: -150px;
 margin-top: -50px;
}
