<div class="three columns plans">
  <header>Journey Planner</header>
  <div class="contents">
    <% current_user.plans.each do |plan| %>
    <div class="plan">
      <p><%= plan.address %></p>
      <div class="events">
        <header>Events</header>
        <div class="items">
          <% plan.saved_events.each do |saved_event| %>
          <div>
            <div><%= saved_event.event.title %></div>
            <div><%= saved_event.event.info %></div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="eats">
        <header>Eats</header>
        <div class="items">
          <% plan.saved_eats.each do |saved_eat| %>
          <div>
            <div><%= saved_eat.eat.title %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
