<div class="search-area">
  <div class="search-wrapper">
    <input type="hidden" id="selected-location">
    <input type="text" class="search" placeholder="Search for a location">
    <ul class="suggestions"></ul>
  </div>
</div>

<div class="u-cf planner">
  <%= render "plans" %>
  <div class="six columns map">Map goes here</div>
  <div class="three columns events-eats">Search for a location to view what's happening around it</div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVJjOAHWGEr2E1f5AMR2RZDoJ8maw41N4&callback=showMap">
</script>
