<%= javascript_include_tag "map" %>
<%= javascript_include_tag params[:controller] %>

<div class="search-area">
  <form class="search-form">
    <input type="hidden" id="selected-location" name="place_id" value="ChIJRdfDBE1d1moRX_AHiiGObXQ">
    <ul class="suggestions"></ul>
    <input type="text" class="search" name="place_name" placeholder="Search for a location" required>
    <label for="">Arrival date</label>
    <input type="date" name="arrival_date" required>
    <label for="">Departure date</label>
    <input type="date" name="departure_date" required>
    <button class="button-primary" disabled>Add to planner</button>
  </form>
</div>

<div class="u-cf planner">
  <div class="three columns plans">
    <header>Journey Planner</header>
    <div class="contents"></div>
  </div>
  <div class="six columns map">Map goes here</div>
  <div class="three columns events-eats">
    <header>Events</header>
    <div class="events">
      <div class="contents"></div>
    </div>
    <header>Eats</header>
    <div class="eats">
      <div class="contents"></div>
    </div>
  </div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.gmap_key %>&callback=showMap">
</script>

<script id="plan-template" type="text/x-handlebars-template">
  <div class="plan" data-id="{{id}}" data-lat="{{latitude}}" data-lng="{{longitude}}">
    <div class="details">
      <p class="address">{{address}}</p>
      <div>Arrive: {{arrival_date}}</div>
      <div>Depart: {{departure_date}}</div>
    </div>
    <div class="events">
      <header>Events</header>
      <div class="items hidden">
        {{#each saved_events}}
        <div data-id="{{this.event.id}}" data-lat="{{this.event.latitude}}" data-lng="{{this.event.longitude}}">
          <div class="title">{{this.event.title}}</div>
          <div>{{this.event.info}}</div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="eats">
      <header>Eats</header>
      <div class="items hidden">
        {{#each saved_eats}}
        <div data-id="{{this.eat.id}}" data-lat="{{this.eat.latitude}}" data-lng="{{this.eat.longitude}}">
          <div class="title">{{this.eat.title}}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</script>

<script id="event-template" type="text/x-handlebars-template">
  <div class="event" data-id="{{id}}" data-lat="{{latitude}}" data-lng="{{longitude}}">
    <h6>{{title}}</h6>
    <div>{{date}}</div>
    <div>{{info}}</div>
    <button class="button-primary add-btn hidden">Add to plan</button>
    <div class="status-added hidden">&#10004; Added to plan</div>
  </div>
</script>

<script id="eat-template" type="text/x-handlebars-template">
  <div class="eat" data-id="{{id}}" data-lat="{{latitude}}" data-lng="{{longitude}}">
    <h6>{{title}}</h6>
    <div>{{info}}</div>
    <button class="button-primary add-btn hidden">Add to plan</button>
    <div class="status-added hidden">&#10004; Added to plan</div>
  </div>
</script>
